
.img{
    width: 425px;
    height: 600px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    }
.text1{
    font-size: 24px;
    text-align: center;
    line-height: 1.2em;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}
.body{
    background-color: black;
}
.text-container1{
    margin-top: 50px;
    color: white;
}
.text2{
    margin-top: 10px;
    color: white;
}
.text12{
    margin-top: 10px;
}
.container1{
    margin-top: 50px;
}
.a{
    color: aliceblue;
}
.left, .right {
    float: left;
    width: 20%; /* The width is 20%, by default */
  }
  
  .main {
    float: left;
    width: 60%; /* The width is 60%, by default */
  }
  
  /* Use a media query to add a breakpoint at 800px: */
  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
  h1{
    color: white;
  }

  .text12{
    color: white;
  }
  p{
    color: white;
  }